<!-- <h2>test component</h2>
<p>
  <input type="text" [disabled]="!state" value="Input State: {{ state }}">
  <button (click)="changeState()">Toggle State</button>
</p> -->

<!-- <br>
<H2>Parent - Child Communication</H2>
<app-parent></app-parent> -->

<!-- <br>
<H2>Template Variables</H2>
<input width="auto" #phone placeholder="Please enter the phone number!!!">
<button (click)="callUser()">Click me!</button> -->

<!-- <H1>CSS Encapsulation</H1>
<app-shadowdom-encapsulation></app-shadowdom-encapsulation> -->

<h2 style="color: Brown">Template Syntax</h2>
<h3>Interpolation</h3>
  <span>My name is: {{ name }}</span>
<br>
<button (click)="updateName()">Update Name</button>
<br>
<h3>Property Binding</h3>
  <div [style.color]="fontColor">
    <span>Hello</span>
  </div>
<br>
<button (click)="updateFontColor()">Change Font Color</button>
<br>
<h3>Event Binding</h3>
<div>
  <span>Name:</span><input #newName type="text">
  <button (click)="updateNewName(newName.value)">Update Name</button>
</div>
<br>
<h3>Two-way Data Binding</h3>
<div>
  <input type="email" [(ngModel)]="email">
  <span>Email : {{ email }}</span>
  <br>
  <button [disabled]="!email">Submit</button>
</div>

<br>
<h2 style="color: darkblue">Structural Directives</h2>
<h3>*ngIf</h3>
<div>
  <span *ngIf="email">Email entered is: {{ email }}</span>
  <span *ngIf="!email">No Email</span>
</div>
<br>
<h3>*ngFor</h3>
<div>
  <button (click)="increment()">Increment</button>
  <button (click)="clear()">Clear</button>
  <div *ngFor="let val of numbers">
    <span>Number: {{ val }}</span>
  </div>
</div>
<h3>*ngSwitch</h3>
<div [ngSwitch]="shoppingCartItem">
  <p *ngSwitchCase="'mobile'">Mobile added in the card</p>
  <p *ngSwitchCase="'bulb'">LED Bulb added in the card</p>
  <p *ngSwitchCase="'book'">Story Book added in the card</p>
  <p *ngSwitchDefault>Cart is empty</p>
</div>
<button (click)="addToCart('mobile')">Add Mobile</button>
<button (click)="addToCart('bulb')">Add LED bulb</button>
<button (click)="addToCart('book')">Add books</button>
<button (click)="addToCart('')">Clear the cart</button>

<br>
<H2>Built in Directives</H2>
<h3>ngClass</h3>
<div [ngClass]="{
  'left-align': email,
  'right-align': !email
}">
  Hello World
</div>
<br>
<h3>ngStyle</h3>
<div style="color: red" [ngStyle]="{'font-weight': email ? 'bold': 'normal'}">
  Hello user
</div>